# Ignore virtual environment folder
.venv/

# Ignore Django migration files
**/migrations/*.py
**/migrations/*.pyc
**/migrations/__pycache__/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore database files
*.sqlite3